/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            bindings = <
&trans    &trans  &trans  &trans     &trans  &trans        &trans    &trans  &trans      &trans    &trans     &trans
&mo 3      &trans  &trans  &trans     &trans  &trans        &trans    &trans  &trans      &trans    &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans        &trans    &trans  &trans  &trans  &trans  &trans
                         &trans  &mo 1  &trans    &trans  &mo 2  &trans
            >;
        };

        nav_layer {
            display-name = "nav";
            bindings = <
&trans    &trans        &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                       &trans      &trans        &trans       &trans   &trans    &trans
            >;
        };

        symbol_layer {
            display-name = "symbol";
            bindings = <
&trans    &trans  &trans  &trans  &trans  &trans    &trans  &trans   &trans  &trans  &trans
&trans     &trans    &trans  &trans    &trans    &trans       &trans  &trans  &trans         &trans  &trans  &trans
&trans  &trans    &trans  &trans    &trans    &trans       &trans  &trans   &trans         &trans  &trans  &trans
                             &trans  &trans    &trans    &trans    &trans     &trans
            >;
        };

        media_layer {
            display-name = "media";
            bindings = <
&trans    &trans  &trans  &trans  &trans  &trans    &trans  &trans   &trans  &trans  &trans
&trans     &trans    &trans  &trans    &trans    &trans       &trans  &trans  &trans         &trans  &trans  &trans
&trans  &trans    &trans  &trans    &trans    &trans       &trans  &trans   &trans         &trans  &trans  &trans
                             &trans  &trans    &trans    &trans    &trans     &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        switch_media {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
