/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <1 2 3 4 5 13 14 15 16 17 25 26 27 28 29>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 9 8 10 22 20 21 33 32 19 18 30 31 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB       &kp Q            &kp W            &kp E              &kp R         &kp T        &kp Z    &kp U         &kp I               &kp O             &kp P                &kp BSPC
&kp LEFT_GUI  &HML LEFT_GUI A  &HML LEFT_ALT S  &HML LEFT_SHIFT D  &HML LCTRL F  &kp G        &kp H    &HMR RCTRL J  &HMR RIGHT_SHIFT K  &HMR RIGHT_ALT L  &HMR RGUI SEMICOLON  &kp SQT
&kp LSHFT     &kp Y            &kp X            &kp C              &kp V         &kp B        &kp N    &kp M         &kp COMMA           &kp DOT           &kp FSLH             &kp ESC
                                                &mo 2              &mo 1         &kp SPACE    &kp RET  &mo 1         &mo 2
            >;
        };

        nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Nav";
            bindings = <
&trans  &kp PAGE_UP     &kp BACKSPACE             &kp UP_ARROW          &kp DELETE              &kp PAGE_DOWN    &kp PERIOD    &kp N7               &kp N8          &kp N9                   &kp MINUS            &trans
&trans  &HML LGUI HOME  &HML LEFT_ALT LEFT_ARROW  &HML LEFT_SHIFT DOWN  &HML LCTRL RIGHT_ARROW  &kp END          &kp NUMBER_0  &HMR RCTRL NUMBER_4  &HMR RSHIFT N5  &HMR RIGHT_ALT NUMBER_6  &HMR RIGHT_GUI PLUS  &trans
&trans  &kp K_CUT       &kp K_COPY                &kp K_PASTE           &kp C_REPEAT            &kp K_UNDO       &kp COMMA     &kp NUMBER_1         &kp NUMBER_2    &kp NUMBER_3             &none                &trans
                                                  &trans                &trans                  &trans           &trans        &trans               &trans
            >;
        };

        symbol {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "symbol";
            bindings = <
&trans  &kp SQT                  &kp UNDERSCORE       &kp LEFT_BRACKET       &kp RIGHT_BRACKET              &kp CARET       &kp EXCLAMATION  &kp LESS_THAN                &kp GREATER_THAN              &kp EQUAL             &kp AMPERSAND         &trans
&trans  &HML LEFT_GUI BACKSLASH  &HML LEFT_ALT SLASH  &HML LSHFT LEFT_BRACE  &HML LEFT_CONTROL RIGHT_BRACE  &kp ASTERISK    &kp QUESTION     &HMR RCTRL LEFT_PARENTHESIS  &HMR RSHFT RIGHT_PARENTHESIS  &HMR RIGHT_ALT MINUS  &HMR RIGHT_GUI COLON  &trans
&trans  &kp HASH                 &kp DOLLAR           &kp PIPE               &kp TILDE                      &kp GRAVE       &kp PLUS         &kp PERCENT                  &kp DOUBLE_QUOTES             &kp SINGLE_QUOTE      &kp SEMI              &trans
                                                      &trans                 &trans                         &trans          &trans           &trans                       &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        lowerAndRaise {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
